@font-face {
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
    font-family: dancing;
}

@font-face {
    src: url(fonts/Lato-Regular.ttf);
    font-family: lato
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
}

body {
    color: rgb(203, 178, 60);
    font-family: lato;
    height: 100%;
    width: 100%;
}

h2, h3 {
    font-family: dancing;
    text-shadow: 1px 1px 5px black;
}

.font-small {
    font-size: 18px;
}

.font-medium {
    font-size: 20px;
}

.font-large {
    font-size: 25px;
}

.font-xl {
    font-size: 30px;
}

.font-xxl {
    font-size: 40px;
}

/*Content*/

article {
    display: grid;
    grid-template-columns: minmax(auto, 2fr) repeat(3, minmax(300px, 1fr)) minmax(auto, 2fr);
    grid-template-rows: 150px 200px 150px 450px 100px;
    width: 100vw;
    background: rgb(128, 128, 128);
}

/*Classes are labeled by the order they were created*/

.nav-background {
    grid-column: 1/6;
    grid-row: 1/4;
    background-color: rgb(159, 0, 0);
}
/*Logo*/
.one {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

    .one div {
        position: absolute;
        left: 0;
        bottom: 0;
    }

/*Date / Nav*/
.two {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

    .two h2 {
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        padding-bottom: 10px;
    }

.two-content-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

.two a, .footer-nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(203, 178, 60);
}

    .two a:hover, .footer-nav a:hover {
        color: rgb(208, 64, 0);
    }

/*Header description*/
.three {
    margin-top: 70px;
    text-align: center;
    grid-column: 2/5;
    grid-row: 2/3;
}

/*Button*/
.four {
    text-align: center;
    grid-column: 3/4;
    grid-row: 3/4;
}

    .four div {
        position: relative;
        margin: 20px auto auto auto;
        width: 170px;
        padding: 20px;
        border-radius: 10px;
        border: 2px ridge;
        background-color: rgb(159, 0, 0);
        transition-duration: 0.4s;
    }

    .four a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .four div:hover {
        background-color: rgb(208, 64, 0);
    }


/*Section Two*/

.section-two-background {
    grid-column: 1/6;
    grid-row: 4/5;
    background-color: rgb(207, 89, 0);
}

.padding
/*Separate padding for 
.five, .six, .seven text*/ {
    padding: 20px;
    margin-right: 10px;
}

/*Image hover effects*/
.img-container {
    position: relative;
    height: 150px;
    width: 250px;
    margin: auto;
    border-radius: 5px;
    border: 2px ridge;
    overflow: hidden;
}

.overlay {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(208, 64, 0);
}

.img-container:hover .overlay {
    opacity: 0.93;
}

.img-container a {
    color: rgb(203, 178, 60);
}

.five, .six, .seven {
    margin-top: 40px;
    text-align: right;
}

.five {
    grid-column: 2/3;
    grid-row: 4/5;
}

.six {
    grid-column: 3/4;
    grid-row: 4/5;
}

.seven {
    grid-column: 4/5;
    grid-row: 4/5;
}


/*Footer styling.*/

.section-three-background {
    background-color: rgb(159, 0, 0);
    grid-column: 1/6;
    grid-row: 5/6;
}

footer {
    display: inherit;
}

.footer-copywrite {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    grid-column: 2/3;
    grid-row: 5/6;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    grid-column: 3/5;
    grid-row: 5/6;
}
