@font-face {
    src: url(../../fonts/DancingScript-VariableFont_wght.ttf);
    font-family: dancing;
}

@font-face {
    src: url(../../fonts/Lato-Regular.ttf);
    font-family: lato
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
}

body {
    color: rgb(203, 178, 60);
    font-family: lato;
    height: 100%;
    width: 100%;
    text-align: center;
}

h2, h3 {
    font-family: dancing;
    text-shadow: 1px 1px 5px black;
}

.font-small {
    font-size: 18px;
}

.font-medium {
    font-size: 20px;
}

.font-large {
    font-size: 25px;
}

.font-xl {
    font-size: 30px;
}

.font-xxl {
    font-size: 40px;
}

/*Content*/

article {
    display: grid;
    grid-template-columns: minmax(auto, 2fr) repeat(3, minmax(300px, 1fr)) minmax(auto, 2fr);
    grid-template-rows: 170px 150px 2fr 2fr 100px 100px;
    width: 100vw;
    background: rgb(128, 128, 128);
}

/*Div classes are labeled by the order they were created*/

/*Main*/

.nav-background {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: rgb(159, 0, 0);
}

.one {
    text-align: left;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

    .one div {
        position: absolute;
        left: 0;
        bottom: 10px;
    }

    .one h1 a {
        text-decoration: none;
        color: rgb(203, 178, 60);
    }

.two {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

    .two h2 {
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        padding-bottom: 10px;
    }

.two-content-container {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.two a, .footer-nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(203, 178, 60);
}

    .two a:hover, .footer-nav a:hover {
        color: rgb(208, 64, 0);
    }

/*Main*/

.content-background {
    grid-column: 1/6;
    grid-row: 2/6;
    background-color: rgb(207, 89, 0);
}

.three {
    margin-top: 55px;
    grid-column: 2/5;
    grid-row: 2/3;
}

/*Schedule grid layout.*/
.schedule {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-column: 1/6;
    grid-row: 3/5;
}

.four-one, .four-two, .four-three, .five-one, .five-two, .five-three, .five-four, .five-five, .five-six, .five-seven, .six-one, .six-two, .six-three {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.four-three, .five-three, .five-five, .five-seven, .six-three {
    border-bottom: 3px solid rgb(159, 0, 0);
    box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.32);
}

.four-one {
    grid-column: 1/2;
    grid-row: 1/2;
}

.four-two {
    grid-column: 1/2;
    grid-row: 2/3;
}

.four-three {
    grid-column: 2/3;
    grid-row: 2/3;
}

.five-one {
    grid-column: 1/2;
    grid-row: 4/5;
}

.five-two {
    grid-column: 1/2;
    grid-row: 5/6;
}

.five-three {
    grid-column: 2/3;
    grid-row: 5/6;
}

.five-four {
    grid-column: 1/2;
    grid-row: 6/7;
}

.five-five {
    grid-column: 2/3;
    grid-row: 6/7;
}

.five-six {
    grid-column: 1/2;
    grid-row: 7/8;
}

.five-seven {
    grid-column: 2/3;
    grid-row: 7/8;
}

.six-one {
    grid-column: 1/2;
    grid-row: 9/10;
}

.six-two {
    grid-column: 1/2;
    grid-row: 10/11;
}

.six-three {
    grid-column: 2/3;
    grid-row: 10/11;
}

/*Footer styling.*/

.footer-background {
    background-color: rgb(159, 0, 0);
    grid-column: 1/6;
    grid-row: 6/7;
}

footer {
    display: inherit;
}

.footer-copywrite {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    grid-column: 2/3;
    grid-row: 6/7;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    grid-column: 3/5;
    grid-row: 6/7;
}
